@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap");

body {
  font-family: "Poppins", sans-serif;
  background: linear-gradient(113.49deg, #984d38 -30.3%, #181e41 58.12%)
    no-repeat;
}

.header {
  max-width: 1197px;

  // .header__logo

  &__logo {
  }

  // .header__nav

  &__nav {
  }

  // .header__item

  &__item {
  }

  // .header__link

  &__link {
  }
}
.form {
  // .form__button

  &__button {
  }
}
.heaser {
  // .heaser__list

  &__list {
  }
}
